.emp-dashboard-container {
  display: flex;
  width: 75%;
  justify-self: right;
}

.emp-dashboard-feature-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  justify-content: center;
}

.emp-content {
  padding: 2rem;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.attendance-menu p {
  font-size: clamp(0.9rem, 1.5vw, 1.05rem);
  margin-bottom: 20px;
  color: #333;
}

.emp-dashboard-feature-container .attendance-option {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: clamp(0.85rem, 1.2vw, 1rem);
  font-weight: 500;
  transition: all 0.3s ease;
  display: inline-block;
}



.emp-dashboard-feature-container .success-message {
  color: #28a745;
  font-size: clamp(0.85rem, 1.2vw, 1rem);
  font-weight: 500;
  margin-top: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.emp-dashboard-feature-container .success-message.visible {
  visibility: visible;
  opacity: 1;
  animation: slide-down 0.5s forwards;
}

.emp-dashboard-feature-container .error-message {
  color: #dc3545;
  font-size: clamp(0.75rem, 1vw, 0.9rem);
  font-weight: 500;
  margin-top: 10px;
}


.emp-dashboard-feature-container .attendance-options {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.emp-dashboard-feature-container .attendance-menu.visible {
  visibility: visible;
  opacity: 1;
  animation: slide-down 0.5s forwards;
}

.emp-dashboard-feature-container .attendance-options button:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.emp-dashboard-feature-container .change-password-container {
  background-color: white;
  border-radius: 2px;
  border: 1px solid black;
  padding: 1rem;
  transition: transform 0.2s, box-shadow 0.2s;
  text-align: center;
  place-items: center;
}

.emp-dashboard-feature-container .change-password-container h3 {
  color: #333;
  margin: 0;
}

.emp-dashboard-feature-container .change-password-container p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 20px;
}

.employee-dashboard.change-password-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.change-password-modal-content {
  max-width: 300px;
  margin: auto;
  background: white;
  padding: 1rem 3rem;
  border-radius: 5px;
  position: relative;
}

.change-password-modal-content .modal-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.change-password-modal-content .modal-row label {
  display: flex;
  flex-direction: column;
  margin: 7px 0 5px;
}

.change-password-modal-content .modal-row input {
  box-sizing: border-box;
}


@media screen and (max-width: 786px) {
  .emp-dashboard-container {
    width: 100%;
  }

  .emp-dashboard-container .emp-content {
    padding: 1rem;
  }

  .emp-dashboard-feature-container {
    flex-direction: column;
    align-items: center;
  }

  .emp-dashboard-feature-container .attendance-menu p {
    text-align: center;
  }

  .emp-dashboard-feature-container .attendance-options {
    justify-content: center;
  }
  .emp-dashboard-feature-container .change-password-container {
    width: 90%;
  }
}