

.profile-container {
  color: black; /* Dark grey text */
  font-family: 'Arial', sans-serif;
}

.profile-container h3 {
  text-align: center;
  margin: 15px 0;
  color: black;
  text-transform: uppercase;
}


.profile-details p {
  padding: 10px 15px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 0;
}

.profile-details p strong {
  font-weight: bold;
  color: #3c3f41; /* Dark grey text */
}

.profile-details p span {
  color: #3c3f41; /* Dark grey text */
}


