/* Dashboard.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: #007bff;
  color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dashboard-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.main-content {
  margin-left: 250px;
  flex: 1;
  background-color: #ffffff;
  padding: 20px;
  overflow-y: auto;
  height: calc(100vh - 80px); /* Adjust height considering header height */
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1);
}
